# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.pytest_cache/


# PyPI
dist/
build/
*.egg-info/

# Rust / native extension builds
target/
native/**/target/
native/**/dist/
native/**/*.whl

# Unittests
tests/
